* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.fullscreen-container {
  position: relative;
  padding: 3rem;
  width: 1024px;
  height: 600px;
  background: url('img/bg-chalkboard.png') no-repeat center center fixed;
  background-color: #555;
  background-size: cover;
}

.app-controls {
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0;
}
.app-controls__toggle-btn {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px 0 0 4px;
  margin: .25em;
  margin-right: 0;
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 38px;
}
#fullscreen-toggle {
  background-image: url('img/fullscreen-enter.png');
}
#fullscreen-toggle.fullscreen-active {
  background-image: url('img/fullscreen-exit.png');
  opacity: .4;
}
#admin-toggle {
  background-image: url('img/admin-panel.png');
}

.btn {
  padding: .25em .5em;
  border-width: 0;
  border-radius: 4px;
  background-color: #fcaf1e;
  color: #111;
  font-size: 1rem;
}
.btn:hover,
.btn:active {
  background-color: #e39d1b;
}
.btn--input-right {
  border-radius: 0 4px 4px 0;
  font-size: 2rem;
}
.header {
  margin-bottom: 3rem;
  text-align: center;
}
.header__logo {
  width: 75%;
}
.welcome-text {
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.welcome-text__intro {
  font-size: 2.6rem;
  margin-top: 4.6rem;
  margin-bottom: 2rem;
}
.welcome-text__coming-soon {
  color: #e3f2fc;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  font-size: 4rem;
}
.input-group {
  display: flex;
  margin: auto;
  width: 75%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.input-group__text-field {
  flex: 1 1 4rem;
  padding: .1em .5em;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 2rem;
}
.input-group__text-field:invalid {
  outline: 0;
  box-shadow: none;
}
.locker-code {
  text-align: center;
}
.locker-code__text {
  margin: 0;
  padding: .1em .3em;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 8rem;
  font-family: monospace;
}

#section-dashboard {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  padding-left: 70px;
  width: 100%;
  background-color: #fff;
  color: #212121;
  font-size: 18px;
}

#dashboard-trigger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6000;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
}
