/* global styles */

* { box-sizing: border-box }
img { max-width: 100%; }
.hidden { display: none !important; }

body {
  margin: 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 3rem 0 1rem;
}

.subhead {
  font-size: .7em;
  font-weight: 400;
  color: #999;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 1.4rem;
}

.fullscreen-container {
  position: relative;
  padding: 3rem;
  width: 1024px;
  height: 600px;
  background: url('img/bg-chalkboard.png') no-repeat center center fixed;
  background-color: #555;
  background-size: cover;
}

.app-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10000;
}
.app-controls__toggle-btn {
  margin: .3em;
  margin-right: 0;
  width: 60px;
  height: 60px;
  border-radius: 4px 0 0 4px;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: 38px;
  background-repeat: no-repeat;
  transition: background-image .15s, background-color .15s;
}
.app-controls__toggle-btn:active {
  background-color: rgba(0, 0, 0, 0.3);
}
#fullscreen-toggle {
  background-image: url('img/fullscreen-enter.png');
}
#fullscreen-toggle.fullscreen-active {
  background-image: url('img/fullscreen-exit.png');
  opacity: .25;
}
#admin-toggle {
  background-image: url('img/admin-panel.png');
}
#admin-toggle.admin-panel-open {
  background-image: url('img/close.png');
}

.btn {
  display: inline-block;
  padding: .25em .5em;
  border-width: 0;
  border-radius: 4px;
  background-color: #fcaf1e;
  color: #111;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  line-height: 1.25;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  transition-property: background-color, box-shadow;
  transition-duration: .15s;
}
.btn:active {
  background-color: #e39d1b;
}
.btn:active {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.btn:focus {
  outline: none;
}

.header {
  margin-bottom: 3rem;
  text-align: center;
}
.header__logo {
  width: 75%;
}

#loader {
  margin: auto;
  margin-top: 5.5rem;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left-color: #fff;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
#loader,
#loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



/* welcome screen */

.welcome-text {
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.welcome-text__intro {
  margin-top: 4.2rem;
  margin-bottom: 2rem;
  font-size: 2.6rem;
}
.welcome-text__coming-soon {
  margin: 0;
  color: #e3f2fc;
  font-weight: bold;
  font-style: italic;
  font-size: 4rem;
}

.input-group {
  display: flex;
  margin: auto;
  width: 75%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}
.input-group__text-field {
  flex: 1 1 4rem;
  padding: .1em .5em;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 2rem;
}
.input-group__text-field:invalid {
  outline: 0;
  box-shadow: none;
}
.btn--input-right {
  border-radius: 0 4px 4px 0;
  box-shadow: none;
}


/* Locker Code Screen */

#section-locker-code { text-align: center; }
.locker-code {
  margin: 4rem 0 3rem;
}
.locker-code__text {
  margin: 0;
  padding: .1em .3em;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 9rem;
  font-family: monospace;
}


/* admin screen */

#section-admin {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  overflow: scroll;
  padding: 3rem;
  padding-top: 0;
  width: 1024px;
  height: 600px;
  background-color: #f4f4f4;
  color: #242729;
  font-size: 18px;
}

.btn--warning {
  background-color: #d9534f;
  color: #fff;
  margin: 3rem 0;
}
.btn--warning:active {
  background-color: #c9302c;
}
