* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: .5rem;
  /*background: url('bg-chalkboard.png') no-repeat center center fixed;
  background-size: cover;*/
  background-color: #555;
  color: #fff;
  font-size: 26px;
}

img {
  max-width: 100%;
}

.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.btn {
  font-size: 1rem;
  padding: .25em .5em;
  border-width: 0;
  border-radius: 4px;
  background-color: #febd69;
  color: #111;
}
.btn:hover,
.btn:active {
  background-color: #f3a847;
}
.btn--input-right {
  border-radius: 0 4px 4px 0;
  font-size: 2rem;
}
.header {
  text-align: center;
  margin-bottom: 1rem;
}
.header__logo {
  width: 75%;
}

.intro-text {
  margin-top: 0;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5em;
}
.input-group {
  margin: auto;
  width: 75%;
  display: flex;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
.input-group__text-field {
  flex: 1 1 4rem;
  padding: .1em .5em;
  border: none;
  border-radius: 4px 0 0 4px;
  font-size: 2rem;
}
.input-group__text-field:invalid {
  outline: 0;
  box-shadow: none;
}
.locker-code {
  text-align: center;
}
.locker-code__text {
  font-family: monospace;
  font-size: 8rem;
  padding: .1em .3em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

#section-dashboard {
  font-size: 18px;
  z-index: 5000;
  position: fixed;
  color: #212121;
  padding-left: 70px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

#dashboard-trigger {
  z-index: 6000;
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.2);
}
